# The obadiah service unit file
# Copyright (C) 2019 Petr Fedorov <petr.fedorov@phystech.edu>

# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation,  version 2 of the License

# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.


#
# Quick HowTo:
# 1. Copy this file to /etc/systemd/system/obadiah-<DATABASE>@.service,
#    substituting <DATABASE> with the name of PostgreSQL database where data will be saved (i.e. obadiah-devel)
# 2. Edit <USER>, <DATABASE> and <ENVIRONMENT>, where <ENVIRONMENT> is a Python environment where obadiah is installed
#    ("/bin/bash -c "source $HOME/envs/obadiah-devel/bin/activate; cd /var/log/$LOGNAME; $HOME/envs/obadiah-devel/bin/obadiah -d obadiah-devel -s %i"
# 3. Create the directory to store log files: sudo mkdir /var/log/<USER>  sudo chown <USER>.<USER> /var/log/<USER>
# 3. Run `systemctl daemon-reload`
# 4. Start service `systemctl start obanalytics-<DATABASE>@PAIR:EXCHANGE.service` where PAIR and EXCHANGE are runtime parameters of obadiah (see obadiah --help)
#


[Unit]

Description=A data loading service for Order Book Aalytics Database
After=postgresql-11.service


[Service]

User=<USER>

Type=simple
Restart=on-failure
RestartSec=30
ExecStart=/bin/bash -c "source <ENVIRONMENT>/bin/activate; cd /var/log/$LOGNAME; <ENVIRONMENT>/bin/obadiah -d <DATABASE> -s %i"
KillSignal=SIGINT
# websockets might have a lot of messages in its buffer - we want to have them all saved. 10 minutes should be enough?
TimeoutStopSec=600


[Install]
WantedBy=multi-user.target
